<div class="page-inner">
  <app-breadcrumbs
    [title]="'Heures d\'arrivée'"
    [breadcrumbs]="[
      {
        label: 'Heures d\'arrivée',
        url: '/admin/heures-arrivee/' + trajetId + '/' + momentId
      },
      { label: trajet && trajet.libelle ? trajet.libelle : '' },
      { label: moment && moment.libelle ? moment.libelle : '' }
    ]"
  ></app-breadcrumbs>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <div class="d-flex align-items-center">
            <h4 class="card-title col">Heures d'arrivée</h4>
            <button
              class="btn btn-black btn-lg btn-md btn-sm btn-round ms-3"
              data-bs-toggle="modal"
              data-bs-target="#genericModal"
            >
              <i class="fa fa-plus"></i>
              Ajouter
            </button>
          </div>
        </div>
        <div class="card-body">
          <!-- Modal d'ajout -->

          <app-heure-arrivee-modal
            [trajetId]="trajetId"
            [momentId]="momentId"
            [isEditMode]="isEditMode"
            [arriveeMoment]="selectedArriveeMoment"
            [trajetId]="trajetId"
            (onAdd)="isEditMode ? handleUpdate($event) : handleAdd($event)"
          ></app-heure-arrivee-modal>

          <!-- Loader affiché tant que `isLoading` est vrai -->
          <!-- <div *ngIf="isLoading" class="text-center my-4">
            <div class="spinner-border text-danger" role="status">
              <span class="visually-hidden">Chargement...</span>
            </div>
            <p class="mt-2">Chargement des points d'arrivée...</p>
          </div> -->

          <!-- Affichage des heures d'arrivée -->
          <div class="row">
            <div class="table-responsive">
              <table
                datatable
                [dtOptions]="dtOptions"
                [dtTrigger]="dtTrigger"
                class="table table-bordered table-head-bg-black table-striped table-hover"
              >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nom du point d'arrivée</th>
                    <th class="text-center">Heure</th>
                    <th class="text-center">Actions</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let arriveeMoment of arriveeMoments">
                    <td>{{ arriveeMoment.arrivee.order }}</td>
                    <td>{{ arriveeMoment.arrivee.libelle }}</td>
                    <td class="text-center">{{ arriveeMoment.heureArrivee }}</td>
                    <td>
                      <div class="d-flex justify-content-center">
                        <button
                          class="btn btn-sm btn-warning me-1"
                          (click)="
                            selecteArriveeMoment(arriveeMoment)
                          "
                        >
                          <i class="fa fa-edit"></i>
                        </button>
                        <button
                          class="btn btn-sm btn-danger"
                          (click)="handleDelete(arriveeMoment)"
                        >
                          <i class="fa fa-trash"></i>
                        </button>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
