<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center">
        <div class="brand_logo_container bg-black">
          <img src="img/logo1.PNG" class="brand_logo" alt="Logo" />
        </div>
      </div>
      <div class="d-flex justify-content-center form_container">
        <form
          [formGroup]="resetForm"
          (ngSubmit)="onSubmit(); $event.preventDefault()"
        >
          <input type="hidden" formControlName="token" />
          <input type="hidden" formControlName="email" />
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text fs-3"
                ><i class="fas fa-key"></i
              ></span>
            </div>
            <input
              type="password"
              formControlName="password"
              name="password"
              class="form-control input_pass"
              placeholder="Nouveau mot de passe"
              required
            />
          </div>
          <div class="input-group mb-2">
            <div class="input-group-append">
              <span class="input-group-text fs-3"
                ><i class="fas fa-key"></i
              ></span>
            </div>
            <input
              type="password"
              formControlName="password_confirmation"
              name="password"
              class="form-control input_pass"
              placeholder="Confirmer le mot de passe"
              required
            />
          </div>

          <div class="d-flex justify-content-center mt-3 login_container">
            <button type="submit" class="btn login_btn" [disabled]="isLoading">
              <span *ngIf="!isLoading">Réinitialiser</span>
              <span *ngIf="isLoading">
                <!-- <span
                  class="spinner-border spinner-border-sm me-2"
                  role="status"
                  aria-hidden="true"
                ></span> -->
                Réinitialisation...
              </span>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
