<footer class="footer">
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-lg-4 bg-black py-4 py-md-5 py-xxl-8">
          <div class="row h-100 align-items-end justify-content-center">
            <div class="col-12 col-md-11 col-xl-10">
              <div class="footer-logo-wrapper">
                <a href="index.html">
                  <img src="img/logo1.PNG" alt="Barhamienne Transport" height="150">
                </a>
              </div>
              <div class="social-media-wrapper mt-5">
                <ul class="nav">
                  <li class="nav-item me-3">
                    <a class="nav-link link-danger p-2 bg-light rounded" href="#">
                      <i class="bi bi-facebook"></i>
                    </a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link link-danger p-2 bg-light rounded" href="#">
                      <i class="bi bi-youtube"></i>
                    </a>
                  </li>
                  <li class="nav-item me-3">
                    <a class="nav-link link-danger p-2 bg-light rounded" href="#">
                      <i class="bi bi-twitter"></i>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link link-danger p-2 bg-light rounded" href="#">
                      <i class="bi bi-instagram"></i>
                    </a>
                  </li>
                </ul>
              </div>
              <div class="address-wrapper mt-5 text-white">
                <address class="mb-2">campus 1 entre Village B et Village C</address>
                <p class="mb-2">
                  <a class="link-light text-decoration-none" href="tel:+221787318282">78-731-82-82</a><br>
                  <a class="link-light text-decoration-none" href="tel:+221773685975">77-368-59-75</a><br>
                  <a class="link-light text-decoration-none" href="tel:+221784353364">78-435-33-64</a>
                </p>
                <p class="mb-0">
                  <a class="link-light text-decoration-none" href="mailto:contact@barhamienne-transport.com">contact&#64;barhamienne-transport.com</a>
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-lg-8 bsb-tpl-bg-lotion border-top bsb-tpl-border-lg-cyan py-4 py-md-5 py-xxl-8">
          <div class="row justify-content-center">
            <div class="col-12 col-md-11 col-xxl-10">
              <div class="row gy-4 gy-sm-0">
                <div class="col-6 col-sm-3">
                  <div class="widget">
                    <h4 class="widget-title mb-4">Nos Services</h4>
                    <ul class="list-unstyled">
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">Transport de marchandises</a></li>
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">Logistique & distribution</a></li>
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">Transport express</a></li>
                    </ul>
                  </div>
                </div>

                <div class="col-6 col-sm-3">
                  <div class="widget">
                    <h4 class="widget-title mb-4">Barhamienne</h4>
                    <ul class="list-unstyled">
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">À propos</a></li>
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">Contact</a></li>
                      <li class="mb-3"><a href="#" class="link-secondary text-decoration-none">Nos agences</a></li>
                      <li class="mb-0"><a href="#" class="link-secondary text-decoration-none">Politique de confidentialité</a></li>
                    </ul>
                  </div>
                </div>

                <!-- <div class="col-12 col-sm-6">
                  <div class="widget">
                    <h4 class="widget-title mb-4">Newsletter</h4>
                    <p class="mb-4">Inscrivez-vous pour recevoir nos dernières actualités, offres spéciales et informations sur nos services de transport.</p>
                    <form action="#">
                      <div class="row gy-4">
                        <div class="col-12">
                          <input type="email" class="form-control" placeholder="Votre adresse email" required>
                        </div>
                        <div class="col-12">
                          <button type="submit" class="btn btn-danger">S’abonner</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div> -->

              </div> <!-- /row -->
              <div class="row mt-6 border-top border-light-subtle">
                  <div class="footer-copyright-wrapper mt-6">
                    &copy; 2025. All Rights Reserved.
                  </div>
                  <div class="credits text-secondary mt-2 fs-7">
                    Built by <a href="https://portfolio.smbn.website" class="link-secondary text-decoration-none">SMBN</a> with <span class="text-danger">&#9829;</span>
                  </div>
                </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
</footer>


<!-- <footer class="container-fluid py-3 text-bg-dark" style="margin-bottom: -50px">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a
        [routerLink]="['/']"
        routerLinkActive="router-link-active"
        [ngClass]="{
          'text-secondary': isActive('/'),
          'text-white': !isActive('/')
        }"
        class="nav-link px-2"
      >
        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
          <use xlink:href="#home" />
        </svg>
        Accueil
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/yobante']"
        routerLinkActive="router-link-active"
        [ngClass]="{
          'text-secondary': isActive('/yobante'),
          'text-white': !isActive('/yobante')
        }"
        class="nav-link px-2"
      >
        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
          <use xlink:href="#table" />
        </svg>
        Yobanté
      </a>
    </li>
    <li>
      <a
        [routerLink]="['/horaire']"
        routerLinkActive="router-link-active"
        [ngClass]="{
          'text-secondary': isActive('/horaire'),
          'text-white': !isActive('/horaire')
        }"
        class="nav-link"
      >
        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
          <use xlink:href="#alarm-fill" />
        </svg>
        Horaires
      </a>
    </li>
    <li class="nav-item">
      <a
        [routerLink]="['/contact']"
        routerLinkActive="router-link-active"
        [ngClass]="{
          'text-secondary': isActive('/contact'),
          'text-white': !isActive('/contact')
        }"
        class="nav-link px-2"
      >
        <svg class="bi d-block mx-auto mb-1" width="24" height="24">
          <use xlink:href="#people-circle" />
        </svg>
        Contact
      </a>
    </li>

    <li class="nav-item ms-5">
      <a href="#" class="nav-link px-2"
        ><svg class="bi d-block mx-auto mb-1" width="24" height="24">
          <use xlink:href="#arrow-up-square-fill" /></svg
        >Back to top</a
      >
    </li>
  </ul>
  <p class="text-center text-body-white">
    <img src="img/logo1.PNG" width="150" alt="" srcset="" />&copy; {{currentYear}} Company,
    Inc
  </p>
</footer> -->
