<section class="bg-black mb-5" data-bs-theme="dark">
  <div class="container-fluid overflow-hidden">
    <div class="row">
      <div class="col-12 col-md-6 p-0">
        <img
          class="img-fluid w-100 h-100 object-fit-cover"
          loading="lazy"
          src="img/hero/colis.png"
          alt="Livraison de colis Yobanté"
        />
      </div>
      <div class="col-12 col-md-6 align-self-md-end">
        <div
          class="row py-3 py-sm-5 py-xxl-9 bsb-section-mt-md-1 justify-content-sm-center"
        >
          <div class="col-12 col-sm-10">
            <h2 class="display-4 fw-bold mb-4 text-white">
              Notre Processus de Livraison
            </h2>
            <p class="fs-5 mb-5 text-secondary">
              Grâce à Yobanté, Barhamienne Transport vous garantit une livraison
              simple, rapide et fiable sur tous ses trajets réguliers :
              UGB–Thiès–Dakar, Dakar–Thiès–UGB, Mbour–UGB, UGB–Mbour, et bien
              d'autres. Vos colis voyagent en toute sécurité, au rythme de nos
              caravanes.
            </p>

            <div class="d-flex mb-4">
              <div>
                <span
                  class="btn btn-accent bsb-btn-circle pe-none me-4 bg-danger"
                  >1</span
                >
              </div>
              <div>
                <h4 class="fw-bold mb-3 text-white">Dépôt ou collecte du colis</h4>
                <p class="mb-0">
                  Déposez votre colis dans un point relais à <strong>Dakar, Mbour, Thiès</strong> ou à l’<strong>UGB</strong>.
                  Selon votre zone.
                </p>
              </div>
            </div>

            <div class="d-flex mb-4">
              <div>
                <span
                  class="btn btn-accent bsb-btn-circle pe-none me-4 bg-danger"
                  >2</span
                >
              </div>
              <div>
                <h4 class="fw-bold mb-3 text-white">Acheminement par nos caravanes</h4>
                <p class="mb-0">
                  Le colis voyage à bord de nos véhicules en toute sécurité, sur les trajets prévus.
                  Suivi et fiabilité assurés tout au long du trajet.
                </p>
              </div>
            </div>

            <div class="d-flex">
              <div>
                <span
                  class="btn btn-accent bsb-btn-circle pe-none me-4 bg-danger"
                  >3</span
                >
              </div>
              <div>
                <h4 class="fw-bold mb-3 text-white">
                  Livraison au destinataire
                </h4>
                <p class="mb-0">
                  Votre colis est remis en main propre au destinataire, avec
                  confirmation de réception. La satisfaction client est notre
                  priorité.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
