<section class="py-5 py-xl-8 bsb-section-py-xxl-1">
  <div class="container mb-5 mb-md-6 mb-xl-10">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-10 col-lg-8 col-xl-7 text-center">
        <h3 class="fs-6 text-secondary mb-2 text-uppercase">Avis de nos clients</h3>
        <h2 class="display-5 fw-bold mb-0">
          La satisfaction de nos passagers est notre priorité.
        </h2>
      </div>
    </div>
  </div>

  <div class="container overflow-hidden">
    <div class="row gy-4 gy-md-0 gx-xxl-5">
      <div class="col-12 col-md-4">
        <div class="card bsb-tpl-bg-lotion bsb-tpl-border-lg-cyan">
          <div class="card-body p-4 p-xxl-5">
            <figure>
              <img
                class="img-fluid rounded rounded-circle mb-4 border border-5"
                loading="lazy"
                width="100"
                height="100"
                src="img/testimonial/student1.jpeg"
                alt="Fatou Sarr"
              />
              <figcaption>
                <div class="bsb-ratings text-danger mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                <blockquote class="bsb-blockquote-icon mb-4">
                  Grâce à Barhamienne Transport, mes déplacements vers l’université sont devenus plus simples et fiables. Le service est ponctuel, sécurisé, et le personnel est très respectueux.
                </blockquote>
                <h4 class="mb-2">Anta Seck</h4>
                <h5 class="fs-6 text-secondary mb-0">Étudiante en Informatique</h5>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card bsb-tpl-bg-lotion bsb-tpl-border-lg-cyan">
          <div class="card-body p-4 p-xxl-5 pb-5">
            <figure>
              <img
                class="img-fluid rounded rounded-circle mb-4 border border-5"
                loading="lazy"
                height="100"
                width="100"
                src="img/testimonial/parent.jpeg"
                alt="Mamadou Ndiaye"
              />
              <figcaption>
                <div class="bsb-ratings text-danger mb-3" data-bsb-star="4" data-bsb-star-off="1"></div>
                <blockquote class="bsb-blockquote-icon mb-4">
                  En tant que parent, je suis rassuré de voir mon fils voyager avec Barhamienne. Le confort et la sécurité sont toujours au rendez-vous.
                </blockquote>
                <h4 class="mb-2">Mamadou Ndiaye</h4>
                <h5 class="fs-6 text-secondary mb-0">Parent d'étudiant</h5>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-4">
        <div class="card bsb-tpl-bg-lotion bsb-tpl-border-lg-cyan">
          <div class="card-body p-4 p-xxl-5">
            <figure>
              <img
                class="img-fluid rounded rounded-circle mb-4 border border-5"
                loading="lazy"
                width="100"
                height="100"
                src="img/testimonial/student2.jpeg"
                alt="Awa Diop"
              />
              <figcaption>
                <div class="bsb-ratings text-danger mb-3" data-bsb-star="5" data-bsb-star-off="0"></div>
                <blockquote class="bsb-blockquote-icon mb-4">
                  Une équipe toujours disponible et un service impeccable. Barhamienne Transport m’accompagne depuis mes débuts à l’université. Je recommande vivement !
                </blockquote>
                <h4 class="mb-2">Awa Diop</h4>
                <h5 class="fs-6 text-secondary mb-0">Étudiante en Droit</h5>
              </figcaption>
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
