<div
class="site-section bg-image overlay"
style="background-image: url('img/barhamienne2-2.jpeg')"
>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-7 text-center">
      <h2 class="text-white">Contactez-nous</h2>
      <p class="lead text-white">
        Des questions ou des remarques ? Ecrivez-nous simplement un message !
      </p>
      <p class="mb-0">
        <a [routerLink]="['/contact']" routerLinkActive="router-link-active"  class="btn btn-dark py-3 px-5 text-white"
          >Contactez-nous</a
        >
      </p>
    </div>
  </div>
</div>
</div>