<div class="page-inner">
  <div
    class="d-flex align-items-left align-items-md-center flex-column flex-md-row pt-2 pb-4"
  >
    <div>
      <h3 class="fw-bold mb-3">Dashboard</h3>
      <h6 class="op-7 mb-2">Barhamienne Transport Admin Dashboard</h6>
    </div>
    <div class="ms-md-auto py-2 py-md-0">
      <app-reservation-modal
        (onAdd)="handleAddReservation($event)"
      ></app-reservation-modal>
      <app-caravane-modal
        (onAdd)="handleAddCaravane($event)"
      ></app-caravane-modal>
      <a
        type="button"
        class="btn btn-black btn-round me-2"
        (click)="openModal('reservationModal')"
        >Ajouter réservation</a
      >
      <a
        type="button"
        class="btn btn-secondary btn-round"
        (click)="openModal('caravaneModal')"
        >Organiser caravane</a
      >
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div
                class="icon-big text-center icon-secondary bubble-shadow-small"
              >
                <i class="fas fa-bus"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Réservations</p>
                <h4 class="card-title">{{ reservations_validees }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-info bubble-shadow-small">
                <i class="fas fa-box"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Colis transférés</p>
                <h4 class="card-title">{{ total_yobantes }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div
                class="icon-big text-center icon-success bubble-shadow-small"
              >
                <i class="fas fa-dollar-sign"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Revenus</p>
                <h4 class="card-title">$ 1,345</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="card card-stats card-round">
        <div class="card-body">
          <div class="row align-items-center">
            <div class="col-icon">
              <div class="icon-big text-center icon-black bubble-shadow-small">
                <i class="fa fa-users"></i>
              </div>
            </div>
            <div class="col col-stats ms-3 ms-sm-0">
              <div class="numbers">
                <p class="card-category">Clients</p>
                <h4 class="card-title">{{ total_clients }}</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="card card-round">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">
              Réservations par mois en {{ selectedYear }}
            </div>
            <div class="card-tools d-flex align-items-center">
              <a class="btn btn-label-success btn-round btn-sm me-2" (click)="exportToPDF()">
                <span class="btn-label">
                  <i class="fa fa-pencil"></i>
                </span>
                Export
              </a>

              <select
                [(ngModel)]="selectedYear"
                (change)="onYearChange()"
                class="form-select form-select-sm w-auto border border-info rounded-3"
              >
                <option *ngFor="let year of years" [value]="year">
                  {{ year }}
                </option>
              </select>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="chart-container" style="min-height: 375px">
            <canvas id="statisticsChart"></canvas>
          </div>
          <div id="myChartLegend"></div>
        </div>
      </div>
    </div>
    <!-- <div class="col-md-4">
      <div class="card card-primary card-round">
        <div class="card-header">
          <div class="card-head-row">
            <div class="card-title">Daily Sales</div>
            <div class="card-tools">
              <div class="dropdown">
                <button
                  class="btn btn-sm btn-label-light dropdown-toggle"
                  type="button"
                  id="dropdownMenuButton"
                  data-bs-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  Export
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <a class="dropdown-item" href="#">Something else here</a>
                </div>
              </div>
            </div>
          </div>
          <div class="card-category">March 25 - April 02</div>
        </div>
        <div class="card-body pb-0">
          <div class="mb-4 mt-2">
            <h1>$4,578.58</h1>
          </div>
          <div class="pull-in">
            <canvas id="dailySalesChart"></canvas>
          </div>
        </div>
      </div>
      <div class="card card-round">
        <div class="card-body pb-0">
          <div class="h1 fw-bold float-end text-primary">+5%</div>
          <h2 class="mb-2">17</h2>
          <p class="text-muted">Users online</p>
          <div class="pull-in sparkline-fix">
            <div id="lineChart"></div>
          </div>
        </div>
      </div>
    </div> -->
  </div>
  <app-caravane-stats></app-caravane-stats>
  
</div>
